.mask {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.mask .modal {
  width: 50%;
  height: 50%;
  background-color: white;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  position: relative;
}

.mask .modal .title {
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.mask .modal .title .btnClose {
  position: absolute;
  right: 10px;
}

.mask .modal .content {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-top: 1px solid #f0f0f0;
  border-bottom: 1px solid #f0f0f0;
}

.mask .modal .btns {
  padding: 10px;
  display: flex;
  justify-content: end;
}

.mask .modal .btns button {
  min-width: 100px;
  margin-left: 10px;
}

.inactive {
  display: none;
}
